VECTOR_DB_URL="localhost"
DEEPSEEK_API_KEY="sk-哈基米南北掠夺"

GITHUB_TOKEN="ghp_hajiminanbeiluduo"
HTTP_PROXY="dingdongjidingdongji"
LANGCHAIN_TRACING_V2=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGCHAIN_API_KEY=lsv2_pt_dagoudagoujiaojiaojiao
LANGCHAIN_PROJECT="AI_Daily_Researcher_V2" #你的仓库名
OPENAI_API_KEY= 如果你是富哥们直接使用openai，不然和之前的deepseekapi一致
TAVILY_API_KEY="哈基米牛逼劳动"